<table>
  <tr>
    <td width=65><%= image_tag 'page_image.jpg', :size => "60x60"%></td>
    <td width=100><h1><font color=blue>Pages</font></h1></td>
    <td width=150><h2><font color=green>Home</font></h2></td> 
  </tr>
</table>


<p><%= link_to 'About', about_path %></p>
